/*-------------------- BACKGROUND STYLE ---------------------*/

body {
	background-image: url("../images/bgimage.jpg");

	color: white;
}

/*------------------ CAROUSEL TEXT STYLES -------------------*/

.Toptext {
	position: absolute;
	top: 50%;
	left: 50%;

	color: #fff;
	text-align: center;

	transform: translate(-50%, -50%);
	z-index: 12;
}

.Toptext .Logo {
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
	white-space: nowrap;
}

.Toptext p {
	font-size: 12px;
	font-style: italic;
}

.Toptext a {
	font-size: 24px;
	font-style: italic;
}

.Toptext .btn:hover {
	background-color: rgba(255, 255, 255, 0.7);
}

/*SM MD*/

@media (min-width: 576px) {
	.Toptext .Logo {
		font-size: 80px;
	}

	.Toptext p {
		font-size: 16px;
	}

	.Toptext a {
		font-size: 35px;
	}
}

/*LG XL*/

@media (min-width: 992px) {
	.Toptext .Logo {
		padding-bottom: 30px;

		font-size: 100px;
	}

	.Toptext p {
		font-size: 18px;
	}
}

/*--------------- TRANSPARENT BACKGROUND STYLE --------------*/

	.Bggrey {
		background-color: rgba(31, 29, 29, 0.3);
	}

/*------------------ CAROUSEL ITEMS STYLES ------------------*/

.carousel-item {
	height: 100vh;
	min-height: 300px;
}

.carousel-item img
{
	width: 100%;
	height: 100%;

	object-fit: cover;
}

/*---------------------- NAVBAR STYLES ----------------------*/

.navbar-shrink {
	background-color: rgba(0, 0, 0, 0.8);
}

#navbarMain .nav-link, #navbarMain .navbar-toggler {
	color: #fff;
}

.nav-item:hover {
	border-radius: 10px;

	background-color: rgba(255, 255, 255, 0.2);
}

/*--------------------- ITEMS CARDS STYLE -------------------*/

.card {
	background-color: rgba(255, 255, 255, 0.85);
}

/*----------------------- TEXT STYLES -----------------------*/

.Sekcja {
	padding-top: 100px;

	font-family: 'Markazi Text', serif;
	font-size: 70px;
}

footer {
	margin: 0;

	background-color: rgba(0, 0, 0, 0.5);
}

/*---------------------- IMAGES STYLES ----------------------*/

.Img125 {
	max-height: 125px; 
	max-width: 125px;
}

/*--------------- TEXT EDITOR BLACK TEXT STYLE --------------*/

.Blacktext {
	color: black;
}